<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neonnexus.vcdm.mapper.EcuConfigMapper">

    <resultMap id="EcuForwardInfoResultMap" type="com.neonnexus.vcdm.entity.po.project.EcuForwardInfo">
        <id column="id" property="id"/>
        <result column="ecu_id" property="ecuId"/>
        <result column="project_id" property="projectId"/>
        <result column="p_flash_memory_start_address" property="pFlashMemoryStartAddress"/>
        <result column="p_flash_memory_size_limit" property="pFlashMemorySizeLimit"/>
        <result column="ram_memory_start_address" property="ramMemoryStartAddress"/>
        <result column="ram_memory_size_limit" property="ramMemorySizeLimit"/>
    </resultMap>

    <resultMap id="EcuCanInterfaceResultMap" type="com.neonnexus.vcdm.entity.po.project.EcuCanInterface">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="ecu_id" property="ecuId"/>
        <result column="interface_name" property="interfaceName"/>
        <result column="channel_id" property="channelId"/>
        <result column="port" property="port"/>
        <result column="can_type" property="type"/>
        <result column="conn_type" property="connType"/>
    </resultMap>

    <resultMap id="EcuLinInterfaceResultMap" type="com.neonnexus.vcdm.entity.po.project.EcuLinInterface">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="ecu_id" property="ecuId"/>
        <result column="interface_name" property="interfaceName"/>
        <result column="channel_id" property="channelId"/>
        <result column="port" property="port"/>
    </resultMap>

    <resultMap id="EcuEthInterfaceResultMap" type="com.neonnexus.vcdm.entity.po.project.EcuEthInterface">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="ecu_id" property="ecuId"/>
        <result column="interface_name" property="interfaceName"/>
        <result column="channel_id" property="channelId"/>
        <result column="port" property="port"/>
        <result column="port_type" property="type"/>
    </resultMap>

    <select id="findForwardInfoByEcuId" resultMap="EcuForwardInfoResultMap">
        SELECT id,
               ecu_id,
               project_id,
               p_flash_memory_start_address,
               p_flash_memory_size_limit,
               ram_memory_start_address,
               ram_memory_size_limit
        FROM ecu_forward_info
        WHERE ecu_id = #{ecuId}
    </select>

    <insert id="insertForwardInfo">
        INSERT INTO ecu_forward_info (
            id,
            ecu_id,
            project_id,
            p_flash_memory_start_address,
            p_flash_memory_size_limit,
            ram_memory_start_address,
            ram_memory_size_limit
        )
        VALUES (
            #{id},
            #{ecuId},
            #{projectId},
            #{pFlashMemoryStartAddress},
            #{pFlashMemorySizeLimit},
            #{ramMemoryStartAddress},
            #{ramMemorySizeLimit}
        )
    </insert>

    <delete id="deleteForwardInfoByEcuId">
        DELETE FROM ecu_forward_info WHERE ecu_id = #{ecuId}
    </delete>

    <delete id="deleteForwardInfoByEcuIds">
        DELETE FROM ecu_forward_info
        WHERE ecu_id IN
        <foreach collection="ecuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findCanInterfacesByEcuId" resultMap="EcuCanInterfaceResultMap">
        SELECT id,
               project_id,
               ecu_id,
               interface_name,
               channel_id,
               port,
               can_type,
               conn_type
        FROM ecu_can_interface
        WHERE ecu_id = #{ecuId}
        ORDER BY id ASC
    </select>

    <insert id="insertCanInterfaces">
        INSERT INTO ecu_can_interface (
            id,
            project_id,
            ecu_id,
            interface_name,
            channel_id,
            port,
            can_type,
            conn_type
        )
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.id},
             #{item.projectId},
             #{item.ecuId},
             #{item.interfaceName},
             #{item.channelId},
             #{item.port},
             #{item.type},
             #{item.connType})
        </foreach>
    </insert>

    <delete id="deleteCanInterfacesByEcuId">
        DELETE FROM ecu_can_interface WHERE ecu_id = #{ecuId}
    </delete>

    <delete id="deleteCanInterfacesByEcuIds">
        DELETE FROM ecu_can_interface
        WHERE ecu_id IN
        <foreach collection="ecuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findLinInterfacesByEcuId" resultMap="EcuLinInterfaceResultMap">
        SELECT id,
               project_id,
               ecu_id,
               interface_name,
               channel_id,
               port
        FROM ecu_lin_interface
        WHERE ecu_id = #{ecuId}
        ORDER BY id ASC
    </select>

    <insert id="insertLinInterfaces">
        INSERT INTO ecu_lin_interface (
            id,
            project_id,
            ecu_id,
            interface_name,
            channel_id,
            port
        )
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.id},
             #{item.projectId},
             #{item.ecuId},
             #{item.interfaceName},
             #{item.channelId},
             #{item.port})
        </foreach>
    </insert>

    <delete id="deleteLinInterfacesByEcuId">
        DELETE FROM ecu_lin_interface WHERE ecu_id = #{ecuId}
    </delete>

    <delete id="deleteLinInterfacesByEcuIds">
        DELETE FROM ecu_lin_interface
        WHERE ecu_id IN
        <foreach collection="ecuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findEthInterfacesByEcuId" resultMap="EcuEthInterfaceResultMap">
        SELECT id,
               project_id,
               ecu_id,
               interface_name,
               channel_id,
               port,
               port_type
        FROM ecu_eth_interface
        WHERE ecu_id = #{ecuId}
        ORDER BY id ASC
    </select>

    <insert id="insertEthInterfaces">
        INSERT INTO ecu_eth_interface (
            id,
            project_id,
            ecu_id,
            interface_name,
            channel_id,
            port,
            port_type
        )
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.id},
             #{item.projectId},
             #{item.ecuId},
             #{item.interfaceName},
             #{item.channelId},
             #{item.port},
             #{item.type})
        </foreach>
    </insert>

    <delete id="deleteEthInterfacesByEcuId">
        DELETE FROM ecu_eth_interface WHERE ecu_id = #{ecuId}
    </delete>

    <delete id="deleteEthInterfacesByEcuIds">
        DELETE FROM ecu_eth_interface
        WHERE ecu_id IN
        <foreach collection="ecuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
