<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neonnexus.vcdp.mapper.LinInterfaceMapper">

    <resultMap id="LinInterfaceResultMap" type="com.neonnexus.vcdp.entity.po.interfaces.LinInterface">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="ecu_id" property="ecuId"/>
        <result column="interface_name" property="interfaceName"/>
        <result column="channel_id" property="channelId"/>
        <result column="port" property="port"/>
    </resultMap>

    <sql id="LinInterfaceColumns">
        id,
        project_id,
        ecu_id,
        interface_name,
        channel_id,
        port
    </sql>

    <select id="findById" resultMap="LinInterfaceResultMap">
        SELECT <include refid="LinInterfaceColumns"/>
        FROM ecu_lin_interface
        WHERE id = #{id}
    </select>

    <select id="findByProjectId" resultMap="LinInterfaceResultMap">
        SELECT <include refid="LinInterfaceColumns"/>
        FROM ecu_lin_interface
        WHERE project_id = #{projectId}
        ORDER BY id ASC
    </select>

    <select id="findByEcuId" resultMap="LinInterfaceResultMap">
        SELECT <include refid="LinInterfaceColumns"/>
        FROM ecu_lin_interface
        WHERE ecu_id = #{ecuId}
        ORDER BY id ASC
    </select>

    <insert id="insertBatch">
        INSERT INTO ecu_lin_interface (
            id,
            project_id,
            ecu_id,
            interface_name,
            channel_id,
            port
        )
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.id},
             #{item.projectId},
             #{item.ecuId},
             #{item.interfaceName},
             #{item.channelId},
             #{item.port})
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE FROM ecu_lin_interface WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM ecu_lin_interface
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByProjectId">
        DELETE FROM ecu_lin_interface WHERE project_id = #{projectId}
    </delete>

    <delete id="deleteByProjectIds">
        DELETE FROM ecu_lin_interface
        WHERE project_id IN
        <foreach collection="projectIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByEcuId">
        DELETE FROM ecu_lin_interface WHERE ecu_id = #{ecuId}
    </delete>

    <delete id="deleteByEcuIds">
        DELETE FROM ecu_lin_interface
        WHERE ecu_id IN
        <foreach collection="ecuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
